html {
    background-color: #2e2e2e;
    background: radial-gradient(rgb(100, 100, 100), rgb(0, 0, 0));
    font-family: "Monaco", monospace;
    color: white;
}

.BarraTopo {
    display: flex;
    justify-content: space-between;
    background-color: rgb(83, 83, 83);
    padding: 10px;
}

.Logotipo,
.BotaoInstrucoes,
.BotaoConfiguracoes,
.BotaoClassificacoes,
.BotaoLogin {
    /*display: inline-block;*/
    margin: auto;
    font-size: 20;
}

.Logotipo {
    font-family: 'Aclonica';
    font-size: 60;
}


/*
.BotaoInstrucoes {
    position: relative;
    left: 100px;
    top: -10px;
}

.BotaoConfiguracoes {
    position: relative;
    left: 200px;
    top: -10px;
}

.BotaoClassificacoes {
    position: relative;
    left: 300px;
    top: -10px;
}


.BotaoLogin {
    float: right;
    
    font-size: 30;
        top: 10px;
    right: 10px;
    
}
*/

.Instrucoes {
    z-index: 2;
    /*IDEIA!! AUMENTAR O Z-INDEX COM JS*/
    /*Para ficar centrado com o botão*/
    position: absolute;
    top: 100px;
    left: 225px;
    margin: 20px;
    padding: 5px;
    width: 600px;
    height: auto;
    background-color: green;
    display: block;
}

.Configuracoes {
    z-index: 4;
    /*IDEIA!! AUMENTAR O Z-INDEX COM JS*/
    /*Para ficar centrado com o botão*/
    position: absolute;
    top: 100px;
    left: 450px;
    margin: 20px;
    padding: 5px;
    width: 600px;
    height: auto;
    background-color: red;
    display: block;
}

.Classificacoes {
    z-index: 6;
    /*IDEIA!! AUMENTAR O Z-INDEX COM JS*/
    /*Para ficar centrado com o botão*/
    position: absolute;
    top: 100px;
    left: 700px;
    margin: 20px;
    padding: 5px;
    width: 600px;
    height: auto;
    background-color: blueviolet;
    display: block;
}

.Instrucoes,
.Classificacoes,
.Configuracoes,
.Login {
    display: none;
    /*inline-block*/
}

.Tabuleiro {
    display: inline-flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    height: 400px;
    width: 840px;
    background-color: rgb(83, 83, 83);
    border-radius: 25px;
    
    /* IDK how but this centers any div*/
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.OponentArmazem {
    /*display: inline-block*/
    /*display: inline-flex;
    flex-basis: auto;*/
    /*flex-wrap: wrap;*/
    flex-flow: row wrap;
    margin: 25px;
    height: 350px;
    width: 80px;
    border-radius: 50px;
    background: linear-gradient(45deg, #2a1e0f 10%, #c78e47 70%, #2a1e0f 100%) ;
    /*z-index: -1;*/
}

.OponentRow {
    position: relative;
    left: 0px;
    top: 20px;
    width: 600px;
    /*80*6 + 5*5*/
    height: 170px;
}

.PlayerRow {
    position: relative;
    left: 130px;
    top: -190px;
    width: 600px;
    /*80*6 + 5*10*/
    height: 170px;
}

.PlayerArmazem {
    position: relative;
    left: 110px;
    top: -400px;
    margin: 25px;
    height: 350px;
    width: 80px;
    border-radius: 50px;
    background: linear-gradient(45deg, #2a1e0f 10%, #c78e47 70%, #2a1e0f 100%);
}

.Cavidade {
    margin: 5px;
    display: inline-flex;
    align-items: center;
    align-content: center;
    height: 150px;
    width: 80px;
    border-radius: 50px;
    background-color: #2a1e0f;
    background: linear-gradient(45deg, #2a1e0f 20%, #c78e47 70%, #2a1e0f 100%);
    /*z-index: -1;*/
    /*
    position: relative;
    left: 0px;
    top: 30px;
    */
}

.Semente {
    /*position: absolute;
    left: 10%;
    right: 10%; */
    height: 15px;
    width: 30px;
    border-radius: 10px;
    background: linear-gradient(45deg, gold 40%, white 80%, gold 100%);
}

/*
NEED TO TRY SMTH WITH THIS
background: radial-gradient(ellipse at top, #e66465, transparent),
            radial-gradient(ellipse at bottom, #4d9f0c, transparent);
*/

/*
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/