.BarraTopo {
    display: flex;
    justify-content: space-between;
    background-color: rgb(83, 83, 83);
    padding: 10px;
}

.Botao {
    background-color: #1f1f1f;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 12px 28px;
    margin: auto;
    font-size: 20;
    cursor: pointer;
    transition-duration: 0.4s;
}

.Botao:hover {
    color: #1f1f1f;
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-4px);
}

.Botao:active {
    transform: translateY(4px);
}

.botao_submit {
    background-color: #1f1f1f;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 12px 28px;
    margin: auto;
    font-size: 15;
    cursor: pointer;
    transition-duration: 0.4s;
}

.botao_submit:hover {
    color: #1f1f1f;
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.Logotipo {
    font-family: 'Aclonica';
    font-size: 60;
    cursor: pointer;
    /*
    When clicked return to "home" page -> later
    */
}

.Instrucoes {
    position: absolute;
    top: 100px;
    left: 225px;
    margin: 20px;
    padding: 5px;
    width: 600px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ffffff;
    background-color: rgba(50, 50, 50, 0.75);
    display: block;
}

.Configuracoes {
    position: absolute;
    top: 100px;
    left: 450px;
    margin: 20px;
    padding: 5px;
    width: 600px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ffffff;
    background-color: rgba(50, 50, 50, 0.75);
    display: block;
}

.Classificacoes {
    position: absolute;
    top: 100px;
    left: 700px;
    margin: 20px;
    padding: 5px;
    width: 600px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ffffff;
    background-color: rgba(50, 50, 50, 0.75);
    display: block;
}

.Login {
    position: absolute;
    top: 100px;
    left: 700px;
    margin: 20px;
    padding: 5px;
    width: 600px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ffffff;
    background-color: rgba(50, 50, 50, 0.75);
    display: block;
}

.Login {
    background-color: rgba(50, 50, 50, 1);
    padding: 3px;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    justify-content: center;
    height: 100px;
}



.Instrucoes,
.Classificacoes,
.Configuracoes,
.Login {
    display: none;
    /*inline-block*/
}